<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.watchsuggester"
    android:versionCode="5"
    android:versionName="1.4">

    <uses-sdk 
        android:minSdkVersion="26" 
        android:targetSdkVersion="33" />

    <application 
        android:label="WatchSuggester" 
        android:hasCode="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity 
            android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service 
            android:name=".ContentScannerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="WatchSuggester Screen Reader"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

    </application>
</manifest>
