<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.watchsuggester"
    android:versionCode="4"
    android:versionName="1.3">

    <uses-sdk 
        android:minSdkVersion="26" 
        android:targetSdkVersion="33" />

    <!-- Allows checking app usage and screen time -->
    <uses-permission 
        xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS" 
        tools:ignore="ProtectedPermissions" />

    <application 
        android:label="WatchSuggester" 
        android:hasCode="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity 
            android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
